{% extends 'partials/base.html' %}

{% block title %}Главная страница{% endblock title %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>{% block main_text %}Предстоящие бронирования{% endblock main_text %}</h1>
  <a href="{{ url_for('reservations.order_create') }}" class="btn btn-primary">Добавить бронирование</a>
</div>

{% if orders.items %}
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Имя гостя</th>
        <th scope="col">Дата заезда</th>
        <th scope="col">Дата выезда</th>
        <th scope="col">Ночей</th>
        <th scope="col">Гостей</th>
        <th scope="col">Коментарий</th>
        <th scope="col">Статус</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders.items %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.checkin_date }}</td>
        <td>{{ order.checkout_date }}</td>
        <td>{{ order.days_count }}</td>
        <td>{{ order.guests_count }}</td>
        <td>{{ order.comment[:40] }}...</td>
        <td>{{ order.status.value }}</td>
        <td><a href="{{ url_for('reservations.order_detail', id=order.id) }}" class="text-dark">Детали</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% block paginator %}
    {% if orders.has_prev %}
      <a href="{{ url_for('reservations.index', page=orders.prev_num) }}" class="btn btn-outline-primary">&laquo; Предыдущая</a>
    {% else %}
      <span class="btn btn-outline-secondary disabled">&laquo; Предыдущая</span>
    {% endif %}

    {% if orders.has_next %}
      <a href="{{ url_for('reservations.index', page=orders.next_num) }}" class="btn btn-outline-primary">Следующая &raquo;</a>
    {% else %}
      <span class="btn btn-outline-secondary disabled">Следующая &raquo;</span>
    {% endif %}
  {% endblock paginator %}

{% else %}
  <p>Пока нет ни одного бронирования</p>
{% endif %}

{% endblock content %}