{% extends 'partials/base.html' %}

{% block title %}Все услуги{% endblock title %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Список всех услуг</h1>
  <div>
    <a href="{{ url_for('reservations.service_create') }}" class="btn btn-primary">Добавить услугу</a>
    <a href="{{ url_for('reservations.services_archive') }}" class="btn btn-outline-primary">Архив услуг</a>
  </div>
</div>

{% with messages = get_flashed_messages(category_filter=["service-success"]) %}
	{% if messages %}
	  {% for message in messages %}
		  <p style="color: green">
		    {{ message }}
		  </p>
	  {% endfor %}
	{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=["service-error"]) %}
	{% if messages %}
	  {% for message in messages %}
		  <p style="color: red">
		    {{ message }}
		  </p>
	  {% endfor %}
	{% endif %}
{% endwith %}

{% if services.items %}
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Стоимость</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for service in services.items %}
      <tr>
        <td>{{ service.id }}</td>
        <td>{{ service.title }}</td>
        <td>{{ service.price }}</td>
        <td><a href="{{ url_for('reservations.service_update', id=service.id) }}" class="text-dark">Редактировать</a></td>
        <td><a href="{{ url_for('reservations.service_delete', id=service.id) }}" class="text-dark">Удалить</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if services.has_prev %}
    <a href="{{ url_for('reservations.services_list', page=services.prev_num) }}" class="btn btn-outline-primary">&laquo; Предыдущая</a>
  {% else %}
    <span class="btn btn-outline-secondary disabled">&laquo; Предыдущая</span>
  {% endif %}

  {% if services.has_next %}
    <a href="{{ url_for('reservations.services_list', page=services.next_num) }}" class="btn btn-outline-primary">Следующая &raquo;</a>
  {% else %}
    <span class="btn btn-outline-secondary disabled">Следующая &raquo;</span>
  {% endif %}

{% else %}
  <p>Пока нет ни одной допуслуги</p>
{% endif %}

{% endblock content %}