{% extends 'base.html' %}

{% block title %}Создание услуги{% endblock title %}

{% block content %}

<div class="row">
  <h1 class="mb-3">
    {% block main_text %}Создать новую доп услугу{% endblock main_text %}
  </h1>

  {% with messages = get_flashed_messages(category_filter=["service-error"]) %}
    {% if messages %}
      {% for message in messages %}
        <p style="color: red">
          {{ message }}
        </p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="col-12 col-lg-7">
    <form method="POST" novalidate>
      {{ form.csrf_token }}
      {{ form.title(class="form-control form-control-lg", placeholder=form.title.label.text) }}
      <p>
        {% if form.title.errors %}
          {% for error in form.title.errors %}
            <span style="color: red">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      {{ form.price(class="form-control form-control-lg", placeholder=form.price.label.text) }}
      <p>
        {% if form.price.errors %}
          {% for error in form.price.errors %}
            <span style="color: red">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </p>
      {{ form.submit(class="btn btn-lg btn-primary") }}
    </form>
  </div>
</div>

{% endblock content %}