{% extends 'partials/base.html' %}

{% block title %}Архив услуг{% endblock title %}

{% block content %}

<h1 class="mb-3">Список неактивных услуг</h1>
{% with messages = get_flashed_messages(category_filter=["service-success"]) %}
	{% if messages %}
	  {% for message in messages %}
		  <p style="color: green">
		    {{ message }}
		  </p>
	  {% endfor %}
	{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=["service-error"]) %}
	{% if messages %}
	  {% for message in messages %}
		  <p style="color: red">
		    {{ message }}
		  </p>
	  {% endfor %}
	{% endif %}
{% endwith %}

{% if services.items %}
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Стоимость</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for service in services.items %}
      <tr>
        <td>{{ service.id }}</td>
        <td>{{ service.title }}</td>
        <td>{{ service.price }}</td>
        <td><a href="{{ url_for('service_restore', id=service.id) }}" class="text-dark">Восстановить</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if services.has_prev %}
    <a href="{{ url_for('services_archive', page=services.prev_num) }}" class="btn btn-outline-primary">&laquo; Предыдущая</a>
  {% else %}
    <span class="btn btn-outline-secondary disabled">&laquo; Предыдущая</span>
  {% endif %}

  {% if services.has_next %}
    <a href="{{ url_for('services_archive', page=services.next_num) }}" class="btn btn-outline-primary">Следующая &raquo;</a>
  {% else %}
    <span class="btn btn-outline-secondary disabled">Следующая &raquo;</span>
  {% endif %}

{% else %}
  <p>Пока нет ни одной неактивной допуслуги</p>
{% endif %}

{% endblock content %}